In [1]:
# import dependencies.
import time
import pandas as pd
import numpy as np

In [2]:
# url that I want data from.
url = "http://www.espn.com/mlb/worldseries/history/winners"

In [3]:
# import data directly into a df.
tables = pd.read_html(url)[0]

In [4]:
# clean data: remove unneeded columns and rows.
tables = tables.drop([0, 1], axis=0).reset_index(drop=True)
tables = tables.drop([2, 3], axis=1)
tables.head()

      0                     1
0  2018        Boston Red Sox
1  2017        Houston Astros
2  2016          Chicago Cubs
3  2015    Kansas City Royals
4  2014  San Francisco Giants

In [6]:
tables.to_csv("./Resources/world_series_winners.csv")