In [7]:
# import dependencies.
import time
import pandas as pd
import numpy as np

In [8]:
# url that I want data from.
url = "http://www.espn.com/mlb/worldseries/history/winners"

In [9]:
# import data directly into a df.
tables = pd.read_html(url)[0]

In [10]:
tables.head()

                          0               1                    2       3
0  MLB World Series Winners             NaN                  NaN     NaN
1                    SEASON          WINNER                LOSER  SERIES
2                      2018  Boston Red Sox  Los Angeles Dodgers     4-1
3                      2017  Houston Astros  Los Angeles Dodgers     4-3
4                      2016    Chicago Cubs    Cleveland Indians     4-3

In [11]:
# clean data: remove unneeded columns and rows.
tables = tables.drop([0, 1], axis=0).reset_inde
tables = tables.drop([2, 3], axis=1)
tables.head()

      0                     1
2  2018        Boston Red Sox
3  2017        Houston Astros
4  2016          Chicago Cubs
5  2015    Kansas City Royals
6  2014  San Francisco Giants